html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

ol.ul {
    list-style: none;
}
#googleMenu {
    margin: 10px;
    width: 900px;
    font-family: sans-serif;
}
#googleMenu li {
    display: block;
    width: 120px;
    float: left;
    margin-left:2px;
    border:1px solid #000
}
#googleMenu{
    display: block;
    padding:3px;
    text-decoration:none;
    background-color:#fff;
    color:#009;
}
#mainMenu a:hover {
    background-color:#009;
    color:#fff;
}

.Glogo {
    text-align: center;
}   
.logo img {
    text-align: center;

}
.search_container {
    text-align: center;
}

.search{
    display: inline-block;

}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

.bottom {
    text-align: center;
}
